h1{
    color: rgb(2, 255, 20);
    margin-top: 10%;
    font-family: 'Press Start 2P', cursive;

}

h3{
    display: none;
    font-size: 2rem;
    color: rgb(61, 0, 141);
    position: absolute;
    z-index: 1;
    top: 2.5%;
    right: 2.5%;
}

body{
    overflow: hidden;
    background-color: black;
    text-align: center;
}

.body1{
    
    background-image: url('Background.jpg');
    height: 100%;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: fill;

}


#w{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.life{
    position: absolute;
    z-index: 1;
    top: 7%;
    left: 1.71%;
    font-size: 1.5rem;
    display:none;

}

#svs {
    /* border: 1px dotted #333; */
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#myCanvas{
    position: absolute;
    top: 0;
    left: 0;
}
#myCanvas1{
    position: absolute;
    top: 0;
    left: 0;
}
#myCanvas2{
    position: absolute;
    top: 0;
    left: 0;
}
#canvas{
    position: absolute;
    top: 0;
    left: 0;
    
}

.header{
    font-family: Helvetica, sans-serif;
    font-weight: 600;
    background-color: rgb(225, 255, 0);
    /* border-radius: 250px; */
    border-top-left-radius: 20px;
    border-top-right-radius:20px ;

    margin-bottom: 20px;
    padding: 20px auto;
    font-size: 1.6rem;
}

.scorecard{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(110, 124, 194);
    margin-top: 12%;
    margin-left: 36%;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    
}

.btn{
    font-size: 1.2rem;
    color: white;
    padding: 5px 10px;
    background-color: rgb(250, 88, 158);
    border-radius: 10px;
    margin-top: 20px;
}

.btn:hover{
    background-color: rgb(221, 119, 159);
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1rem;
}